@font-face {
    font-family: 'Avenir Next LT Pro Cond italic';
    src: url('AvenirNextLTPro-CnIt.eot');
    src: url('AvenirNextLTPro-CnIt.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTPro-CnIt.woff2') format('woff2'),
        url('AvenirNextLTPro-CnIt.woff') format('woff'),
        url('AvenirNextLTPro-CnIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro Cond';
    src: url('AvenirNextLTPro-MediumCn.eot');
    src: url('AvenirNextLTPro-MediumCn.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTPro-MediumCn.woff2') format('woff2'),
        url('AvenirNextLTPro-MediumCn.woff') format('woff'),
        url('AvenirNextLTPro-MediumCn.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro Italic';
    src: url('AvenirNextLTPro-It.eot');
    src: url('AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTPro-It.woff2') format('woff2'),
        url('AvenirNextLTPro-It.woff') format('woff'),
        url('AvenirNextLTPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro Regular';
    src: url('AvenirNextLTPro-Regular.eot');
    src: url('AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('AvenirNextLTPro-Regular.woff') format('woff'),
        url('AvenirNextLTPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro Bold';
    src: url('AvenirNextLTPro-Bold.eot');
    src: url('AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('AvenirNextLTPro-Bold.woff') format('woff'),
        url('AvenirNextLTPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

